*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/968/002/original/cute-abstract-modern-background-free-vector.jpg');
    background-size: cover;
}

/** HEADER **/

header {
    text-align: center;
    padding: 30px;
    padding-bottom: 10px;
}

button {
    margin-block: 15px;
    font-size: 25px;
    padding: 10px;
    padding-inline: 50px;
    background-color: #ccd0e9;
    border: 3px solid #efc5c6;
    border-radius: 18px;
    color: #3f51b5;
    font-weight: 700;
}

/** MAIN **/

main {
    border: 3px solid #ccd0e9;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
}

section {
    padding-block: 30px;
    padding-inline: 10px;
    display: flex;
    min-height: 80vh;
}

h3 {
    font-size: 22px;
    padding-bottom: 10px;
}

ul:first-child {
    border: 0;
}

ul {
    list-style: none;
    font-size: 18px;
    flex-wrap: wrap;
    width: calc(100% / 5);
    text-align: center;
    border-left: 5px dotted #3f51b5;
    color: #3f51b5;
    padding-left: 0;
}

.student {
    width: 80%;
    margin: auto;
    margin-block: 5px;
    height: 70px;
    color: #3f51b5;
    background-color: #ccd0e9;
    border: 2px dotted #efc5c6;
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    line-height: 15px;
}